.rbc-allday-cell {
  display: none; /* Oculta la celda de "todo el día" */
}

.rbc-allday-events {
  display: none; /* Oculta el contenedor de eventos de "todo el día" */
}

.rbc-row-content {
  margin-top: 0px;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}

/* .rbc-time-content {
  border-top: 0;
} */

.rbc-header {
  padding: 8px 0;
  font-size: 12px;
}

.rbc-row.rbc-row-resource {
  border-bottom: 0;
}

.rbc-time-slot {
  display: flex; /* Activa Flexbox para estos elementos */
  justify-content: center; /* Centra horizontalmente el contenido (texto) */
  align-items: center; /* Centra verticalmente el contenido (texto) */
  font-size: 0.9rem; /* Ajusta el tamaño de fuente */
}

.rbc-toolbar-label {
  text-transform: capitalize; /* Convierte el texto en mayúsculas */
  font-size: 16px;
  font-weight: bold;
}

.rbc-event-label {
  display: none; /* Oculta la etiqueta de los eventos */
}

.rbc-events-container {
  width: 100%;
}

.slotSelected {
  background: #b0b0b0;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
  height: 2px;
  text-align: center;
}

.slotSelected:before {
  content: "AGENDAR 📆";
  font-size: 13px;
  text-shadow: 2px 1px 2px black;
  font-weight: bold;
  position: relative;
  color: white;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 78px;
}
.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 78px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  -ms-flex-preferred-size: 0 px;
  flex-basis: 0 px;
}
